<div class="container-fluid">

  <ng-container>
    <app-simple-example></app-simple-example>
  </ng-container>
  
  <ng-container>

    <div class="row">
      <div class="col">

        <h2>Exportar tabela html para excel</h2>

      </div>
    </div>

    <div class="row mt-3">

      <div class="col">
        <button class="btn btn-primary mr-2" (click)="exportar(['tabela_A'])">
          Exportar Tabela A
        </button>

        <button class="btn btn-primary mr-2" (click)="exportar(['tabela_B'])">
          Exportar Tabela B
        </button>

        <button class="btn btn-primary" (click)="exportar(['tabela_A', 'tabela_B'])">
          Exportar Tabela A e B
        </button>
      </div>

    </div>

    <div class="row mt-3">

      <div class="col">

        <div class="table-responsive">

          <table class="table table-bordered table-sm table-hover table-dark table-striped" #minhaTabela>
            <thead>
              <tr>
                <th colspan="2">Tabela A</th>
                <th *ngFor="let item of dadosTabela1.header">{{ item }}</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let obj of dadosTabela1.body;">
                <td [colSpan]="obj.col" [rowSpan]="obj.row" *ngIf="obj.show"
                  style="max-width: 100px;vertical-align: middle;text-align: center;"><span>{{ obj.name }}</span></td>
                <td *ngIf="obj.metrica">{{ obj.metrica }}</td>
                <td *ngFor="let item of obj.values">{{ decimalPipe.transform(item, '.2-2') }}</td>
              </tr>
            </tbody>
          </table>

        </div>

        <div class="table-responsive">

          <table class="table table-bordered table-sm table-hover table-dark table-striped" #minhaTabela2>
            <thead>
              <tr>
                <th >Tabela B</th>
                <th *ngFor="let item of dadosTabela2.header">{{ item }}</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let obj of dadosTabela2.body;">
                <td [colSpan]="obj.col" [rowSpan]="obj.row" *ngIf="obj.show"
                  style="max-width: 100px;vertical-align: middle;text-align: center;"><span>{{ obj.name }}</span></td>
                <td *ngIf="obj.metrica">{{ obj.metrica }}</td>
                <td *ngFor="let item of obj.values">{{ decimalPipe.transform(item, '.2-2') }}</td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>

    </div>

  </ng-container>

</div>